h1 {
    color: #4741A6;
    text-align: center;
    }
    

button{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#task{
    margin: 4px;
    border-radius: 11px;
    border: none;
    outline:0.5px;
    background-color: rgba(214, 212, 212, 0.514);
    padding: 7px;
}
#btn{
    background-color: #4741A6;
    border-radius: 11px;
    border: none;
    padding: 6px 13px;
}
.btns{
    border-radius: 11px;
    border: none;
    padding: 6px 13px;
    margin: 4px;
}
.saveTask{
    background-color: #4741A6;
}
.edit{
    background-color: #93b2f0;
}
.delete{
    background-color: #f7c85d;
}
.editTask{
    margin: 4px;
    border-radius: 11px;
    border: none;
    outline:0.5px;
    background-color: rgba(214, 212, 212, 0.514);
    padding: 7px;
}